<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="algonquin.cst2335.grouproject">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrouProject">

        <activity
            android:name=".BridgePage"
            android:label="@string/top_title">
        </activity>
        
        <activity android:name=".OC_Main_Activity"></activity>
        <activity android:name=".OC_Stop_Activity"></activity>
        <activity android:name=".OC_Route_Activity"></activity>
        <activity android:name=".LoginPage"></activity>
        <activity android:name=".MovieActivity"></activity>
        <activity android:name=".SavedMovies"></activity>
        <activity android:name=".ChargingStation"></activity>
        
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".FavouriteCarStations"/>
        <activity
            android:name=".ChargingStation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailPage"
            android:label="@string/news_detail">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.AppP8052
                 referenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NewSavedList"
            android:label="Saved List">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.AppP8052
                 referenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>